body {
    margin: 0;
    background: black;
}

canvas {
    margin: 0; /* 取消默认边距 */
    position: absolute;
    width: 100%;
    height: auto; /* 自适应高度 */
    z-index: 5;
}

.circle-avatar {
    position: absolute; /* 设置绝对定位 */
    width: 120px;
    height: 120px;
    border-radius: 50%; /* 将半径设为宽高的一半即可形成圆形 */
    overflow: hidden; /* 隐藏图片溢出的部分，实现裁剪效果 */
    top:20%;
    left: 50%; /* 水平居中 */
    z-index: 10; /* 设置层级，使其显示在 canvas 上方 */
}

.circle-avatar img {
    margin: auto; /* 居中 */
    position: absolute; /* 相对定位 */
    max-width: 100%;
    max-height: 100%;
}
.text-centers{
    width: 1000px;
    position: absolute; /* 设置绝对定位 */
    text-align: center;
    top:10%;
    left: 25%; /* 水平居中 */
    z-index: 10; /* 设置层级，使其显示在 canvas 上方 */
}
.text-centers span{
    max-width: 100%;
    font-family: "Microsoft Yahei", sans-serif;
    color: white;
    font-size: 40px;
    letter-spacing: 20px;
}